<footer style=" position:fixed; right:0;bottom:0;left:0" class="page-footer small text-center">
    <div class="container">
        <span class="text-muted ">TradeMark YelpCamp 2020</span>
    </div>
</footer>
</body>

</html>