<%- include ('./partials/header') %>

    <div class="jumbotron">

        <h1 class="text-center">Sign Up</h1>
    </div>
    <div class="container">
        <form class="" action="/register" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button class="btn btn-primary" type="submit">Sign up</button>
            <a href="/campgrounds" class="btn btn-outline-secondary">Back</a>
        </form>
    </div>
    <%- include ('./partials/footer') %>