.img-thumbnail img {
    width: 100%;
    height: 450px;
}

.col-md-3 .img-thumbnail img {
    height: 250px;
}

.img-thumbnail {
    padding: 0px;
}

.img-thumbnail .card-body,
.img-thumbnail .text-lg-left {
    padding: 9px;
}

#edit_btn {
    color: white;
}