html {
    height: 100%;
}

.img-thumbnail img {
    width: 100%;
    height: 450px;
}

.col-md-3 .img-thumbnail img {
    height: 250px;
}

.img-thumbnail {
    padding: 0px;
}

.img-thumbnail .card-body,
.img-thumbnail .text-lg-left {
    padding: 9px;
}

#edit_btn {
    color: white;
}

.edit_comment {
    padding: .15rem .3rem;
    font-size: .850rem;
    line-height: 1.2;
    border-radius: .3rem;
}

.edit_comment:hover {
    color: black;
}

.common_form {
    margin: 40px auto;
    width: 30%;
}

.login_signup {
    height: 89.5vh;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .common_form {
        margin: 40px auto;
        width: 100%;
    }
}